name: First WorkflowYYY
on: workflow_dispatch
jobs: 
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "Hello World"
      - name: Print goodbye
        run: echo "Done DLam"
        
      - name: Remove README.md
        uses: JesseTG/rm@v1.0.3
        with:
          path: /README.md
